@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-color: #0b0b0b;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    overflow-y: scroll;
}


h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
a {
  font-size: 20px;
  text-decoration: none;
}

.card{
    background-color:#151515;
    align-items: center;
    justify-content: center;
    min-width: 40vh;
}

.dropdown{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.dropdown-item{
  font-size:16px;
}

.dropdown-menu{
    background-color:#242323;
}

.image-wrapper {
  max-width: 600px; 
  margin-bottom: 10px;  
}
.image-wrapper img {
  width: 100%;
  height: auto;
}
.image-full{
  max-width:600px;
  margin-bottom:10px;
}

.image-full img{
  width:80%;
  height:auto;
}
.image-wrapper img:hover{
  border: 2px solid #92929288;
}
ul {
  display: grid;
  list-style-type: none;
}
dl, ol, ul {
  margin-top: 10vh;
  margin-bottom: 1rem;
  margin-right: 3vh;
  margin-left: 3vh;
}
ol, ul {
  padding-left: 0rem;
}

.glow {
    color: #0dcaf0;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
  }

  
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px hsl(205, 100%, 60%), 0 0 20px hsl(205, 100%, 40%), 0 0 30px hsl(205, 100%, 40%), 0 0 40px hsl(205, 100%, 40%);
    }
    to {
      text-shadow: 0 0 20px hsl(205, 100%, 40%), 0 0 30px hsl(205, 100%, 40%);
    }
  }